@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Primary Orange Text Colors */
  .text-primary-orange-600 {
    color: #e55a27;
  }
  .text-primary-orange-700 {
    color: #c2410c;
  }

  /* Secondary Colors Text */
  .text-secondary-amber {
    color: #fbbf24;
  }
  .text-secondary-yellow {
    color: #fde047;
  }

  /* Cool Gray Text Colors */
  .text-cool-gray-900 {
    color: #111827;
  }
  .text-cool-gray-700 {
    color: #374151;
  }
  .text-cool-gray-500 {
    color: #6b7280;
  }
  .text-cool-gray-300 {
    color: #d1d5db;
  }
  .text-cool-gray-100 {
    color: #f3f4f6;
  }
  .text-cool-gray-50 {
    color: #f9fafb;
  }

  /* Primary Orange Background Colors */
  .bg-primary-orange-600 {
    background-color: #e55a27;
  }
  .bg-primary-orange-700 {
    background-color: #c2410c;
  }

  /* Secondary Colors Background */
  .bg-secondary-amber {
    background-color: #fbbf24;
  }
  .bg-secondary-yellow {
    background-color: #fde047;
  }

  /* Cool Gray Background Colors */
  .bg-cool-gray-900 {
    background-color: #111827;
  }
  .bg-cool-gray-700 {
    background-color: #374151;
  }
  .bg-cool-gray-500 {
    background-color: #6b7280;
  }
  .bg-cool-gray-300 {
    background-color: #d1d5db;
  }
  .bg-cool-gray-100 {
    background-color: #f3f4f6;
  }
  .bg-cool-gray-50 {
    background-color: #f9fafb;
  }

  /* Primary Orange Border Colors */
  .border-primary-orange-600 {
    border-color: #e55a27;
  }
  .border-primary-orange-700 {
    border-color: #c2410c;
  }

  /* Secondary Colors Border */
  .border-secondary-amber {
    border-color: #fbbf24;
  }
  .border-secondary-yellow {
    border-color: #fde047;
  }

  /* Cool Gray Border Colors */
  .border-cool-gray-900 {
    border-color: #111827;
  }
  .border-cool-gray-700 {
    border-color: #374151;
  }
  .border-cool-gray-500 {
    border-color: #6b7280;
  }
  .border-cool-gray-300 {
    border-color: #d1d5db;
  }
  .border-cool-gray-100 {
    border-color: #f3f4f6;
  }
  .border-cool-gray-50 {
    border-color: #f9fafb;
  }
  /* nav shadow */
  .nav-shadow {
    box-shadow:
      1px 1px 1px 0px rgba(255, 255, 255, 0.7) inset,
      -1px -1px 1px 0px rgba(0, 0, 0, 0.23) inset,
      0.445px 0.445px 0.629px -0.75px rgba(0, 0, 0, 0.26),
      1.211px 1.211px 1.712px -1.5px rgba(0, 0, 0, 0.25),
      2.658px 2.658px 3.759px -2.25px rgba(0, 0, 0, 0.23),
      5.901px 5.901px 8.345px -3px rgba(0, 0, 0, 0.19),
      14px 14px 21.213px -3.75px rgba(0, 0, 0, 0.2),
      -0.5px -0.5px 0px 0px rgba(0, 0, 0, 0.69);
  }
  /* default text-balance */
  .text-balance {
    text-wrap: balance;
  }
}

.button-hover-focus {
  @apply hover:border-primary-orange-600 hover:text-primary-orange-600 focus:bg-primary-orange-600 focus:text-cool-gray-10;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .main-bg-class {
    @apply flex w-screen flex-col items-center justify-center;
    background-image: url('/assets/background.png'), url('/assets/sub_background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  @screen tablet {
    .tablet-bg-class {
      @apply flex w-screen flex-col items-center justify-around;
      background-image: url('/assets/tablet_chickchick.png'), url('/assets/sub_background.png');
      background-repeat: no-repeat, repeat;
      background-size: contain, contain;
      background-position: center, center;
    }
  }

  @screen mobile {
    .mobile-bg-class {
      @apply flex w-screen flex-col items-center justify-center;
      background-image: url('/assets/mobile_chickchick.png'), url('/assets/sub_background.png');
      background-repeat: no-repeat, repeat;
      background-size: contain, contain;
      background-position: center, center;
    }
  }
}
